<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<div class="block-heading"> 
  
  <h2 class="block-heading__title " data-aos="fade-up" data-aos-delay="300">{{ section.settings.title }}</h2>
  <h2 class="block-heading__heading" data-aos="fade-up" data-aos-delay="300">{{ section.settings.heading }}</h2>
  <p class="block-heading__desc " data-aos="fade-up" data-aos-delay="400" >{{ section.settings.desc }}</p>
</div>
<style>
  .block-heading {
    padding: 30px 0;
    text-align : center
  }
  .block-heading__title {
    font-size: 36px;
    line-height: 40px;
    color: {{ section.settings.text_color}}
  }
  .block-heading__heading {
    margin: 0 auto;
    max-width: 60%;
    margin-top: 10px;
    font-size: 52px;
    line-height: 58px;
    font-weight: 700;
  }
  .block-heading__desc {

    font-size: 16px;
    line-height: 24px;
    max-width: 55%;
    margin: 0 auto;
    color: rgb(100 100 100);
    margin-top: 30px;
    
  }
</style>
{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type" : "inline_richtext",
        "id" : "title",
        "label" : "Title"
      },
        {
        "type" : "color",
        "id" : "text_color",
        "label" : "Text Color",
        "default": "#ff4d20"
      },
      {
        "type" : "text",
        "id" : "heading",
        "label" : "Heading"
      },

        {
        "type" : "inline_richtext",
        "id" : "desc",
        "label" : "DESC"
      }
    ],
    "presets" : [
      {
      "name" : "Block Heading"
    }
    ] 
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
  duration: 500,
})

</script>