<div class="hero-wrapper">
<div class="hero-infor">
  <h2 class="hero__title"> {{ section.settings.title }}</h2>
  <h2 class="hero__heading">{{ section.settings.heading }}</h2>
  <p class="hero__desc">{{ section.settings.desc }}</p>
</div>
<div class="hero-img">
  
  <img src="{{ section.settings.img | img_url : "master" }}" class="hero__image" >
</div>
</div>
<style>
  .hero-wrapper {
    max-width: 120rem;
    padding: 0 50px; 
    margin: 0 auto;
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
  .hero-img {
    width: 45%;
    background-color: #ffbb27;
    border-radius: 1rem;
  }
  .hero-infor {
    width: 45%;
    background-color: #fff;
  }
  .hero-img > img {
      width: 100%;
  }
  .hero__title {
    font-size: 38px;
    color: #ff4d20;
    line-height: 40px;
  }
  .hero__heading {
    font-size: 62px;
    font-weight: bold;
    line-height: 68px;
    margin-top: 10px;
  }
  .hero__desc {
    font-size: 18px;
    line-height: 28px;
    margin-top: 16px;
    color: #646464
  }
</style>
{% schema %}
  {
    "name" : "Herro",
    "settings": [
      {
        "type": "text",
        "id" : "title",
        "label": "Title Hero",
        "default": "this is Hero"
      },
      {
        "type": "text",
        "id" : "heading",
        "label": "Heading Hero",
        "default": "this is Hero"
      },
      {
        "type": "text",
        "id" : "desc",
        "label": "DESC Hero",
        "default": "this is Hero"
      },
      {
        "type": "image_picker",
        "id" : "img",
        "label": "Img Hero"
      }
    ],
    "presets": [
      {
        "name": "Hero"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}