<div class="">
    <h2>{{ section.title1 }}</h2>

</div>

{% schema %}
  {
    "name": "Section name",
    "tag" : "section",
    "class": "hero",
    "settings" : [
      {
        "label" : "Hero",
        "type": "text",
        "id": "hero"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}