<div class="">
    <h1>{{ section.heading }}</h1>
</div>

{% schema %}
  {
    "name" : "Herro",
    "settings": [
      {
        "type": "text",
        "id" : "heading",
        "label": "Heading Hero",
        "default": "this is Hero"
      }
    ],
    "presets": [
      {
        "name": "Hero"
      }
    ]
    
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}